[Desktop Entry]
Encoding=UTF-8
Name=MediaInfo Propeties Plugin
Type=Service
ServiceTypes=KPropertiesDialog/Plugin
MimeType=video/x-matroska;video/x-msvideo;video/mp4;video/x-ms-wmv
X-KDE-Library=mediainfo_props
X-KDE-Protocol=file
#X-KDE-PluginInfo-Author=
#X-KDE-PluginInfo-Email=
#X-KDE-PluginInfo-Name=
#X-KDE-PluginInfo-Version=
#X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=GPL
